/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --primary-color: #FF5A5F;
    --secondary-color: #e0b354;
    --background-color: #087E8B;
    --dark-grey: #2b2b2b;
    --button-text: #fff;
    --header-font-weight: 700;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: var(--header-font-weight);
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
    font-weight: var(--header-font-weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--header-font-weight);
}

p {
    color: #fff
}

a {
    color: var(--primary-color);
}

a:visited {
    color: #3C3C3C;
}

a:hover, a:focus {
    text-decoration: none;
}


a:active {
    color: #fff;
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #3C3C3C;
    color: var(--button-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

a.button {
    color: var(--button-text);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}

button a#project_link {
    text-decoration: none;
    color: #fff;
}

.navigation-list__item--active {
    text-decoration: none;
}

.logo {
    font-family: courier, monospace;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}


.profile {
    max-width: 800px;
    width: 100%;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.intro {
    margin: 0;
}

.name {
    font-size: 90px;
    margin: -20px 0px 0px 0px;
}

.name-last {
    color: #ffffff;
    margin-top: -50px;
}

.profile__portrait {
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}


.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid var(--primary-color);
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.project-list__item {
    display: inline-block;
    width: 33%;
   }

.skills {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.about {
    text-align: center;
}

#contact-main {
    width: 80%;
    margin: 0 auto;
}

.contact-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 60px auto;
    gap: 20px;
}

.info-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.info-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;

}

.info-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;

}

.info-grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;

}

.info-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;

}

.info-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;

}

.info-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;

}

.info-grid > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;

}

.info-grid > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;

}

.info-grid h2 {
    border-bottom: 2px solid darkgray;
}

.info-grid__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
}

.info-grid__item:nth-child(1) {
    grid-column-start: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
}

.info-grid__item:nth-child(8) {
    grid-column-start: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
}

.info-grid__item p{
    margin:0;
}


.info-grid div{
    margin: 10px;
}

#contact-header {
    text-align: center;
    border-bottom: 2px solid darkgray;
    margin: 0 25px;    
}

#contact-form {
    padding-top: 90px;
}


.standard-label {
    display: block;
}


@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}


@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 10px;
    }

    .project-list__item {
        background-color: #add8e6;
        padding: 30px;
        width: auto;
        min-height: auto;
    }

    .project-list__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
    }
}

@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    } 
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 20px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}