* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5A5F;
    --secondary-color: #e0b354;
    --background-color: #087E8B;
    --dark-grey: #2b2b2b;
    --button-text: #fff;
    --header-font-weight: 700;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: var(--header-font-weight);
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
    font-weight: var(--header-font-weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--header-font-weight);
}

p {
    color: #fff
}

a {
    color: var(--primary-color);
}

a:visited {
    color: #C1839F;
}

a:hover, a:focus {
    text-decoration: none;
}


a:active {
    color: #fff;
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #3C3C3C;
    color: var(--button-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

a.button {
    color: var(--button-text);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}

button a#project_link {
    text-decoration: none;
    color: #fff;
}

.navigation-list__item--active {
    text-decoration: none;
}

.logo {
    font-family: courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.profile {
    max-width: 800px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro {
    margin: 0;
}

.name {
    font-size: 90px;
    margin: -20px 0px 0px 0px;
}

.name-last {
    color: #ffffff;
    margin-top: -50px;
}

.profile__portrait {
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
}


.page-header {
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid var(--primary-color);
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.project-list__item {
    display: inline-block;
    width: 33%;
    border-radius: 10px;
    border: 3px solid #FF5A5F;
   }

.project-list__item h2,
.project-list__item p {
    color: #3C3C3C;
}

.project-list__item a {
    display: block;
    margin-top: 10px;
}

.app-picture {
    width: 250px;
    height: auto;
}

.skills {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.about {
    text-align: center;
}

#contact-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: -400px;
}

.contact-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px auto;
    gap: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.info-grid h2 {
    border-bottom: 2px solid darkgray;
}

.info-grid__item {
    align-self: center;
    justify-self: center;
}

.info-grid__item:nth-child(1) {
    grid-column-start: span 2;
    justify-self: center;
}

.info-grid__item:nth-child(8) {
    grid-column-start: span 2;
    justify-self: center;
}

.info-grid__item p{
    color:#ff5a5f;
    margin:0;
}


.info-grid div{
    margin: 10px;
}

#contact-header {
    text-align: center;
    border-bottom: 2px solid darkgray;
    margin: 0 25px;    
}

#contact-form {
    padding-top: 90px;
}


.standard-label {
    display: block;
}

.cs-header {
    text-align: center;
    margin-top: 60px;
}

#meet_homepage_img {
    height: auto;
    width: 400px;
}

.intro {
    display: flex;
}

.intro-content {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 20px;
}

.intro-img {
    padding: 20px;
}

.approach-title {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.oAuth-serverless {
    display: flex;
}

#oAuth_img {
    height: auto;
    width: 500px;
    padding: 20px;
}

.oAuth-serverless-content {
    padding: 20px;
}

.testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testing-title {
    text-align: center;
    padding: 10px;
}

.testing-img {
    height: auto;
    width: 800px;
    padding: 10px;
}

.testing-content {
    color: white;
    width: 90%;
}

.test-li {
    color: rgba(241, 241, 241, 0.61);
}

.test-types li {
    padding: 10px;
}

.pwa-data-img {
    display: flex;
    padding: 20px;
    margin-top: 30px;
}

.pwa-data-container {
    padding: 20px;
}

.data-viz-img {
    height: auto;
    width: 500px;
}

.pwa-content {
    width: 90%;
}

.conclusion {
    margin: 40px;
    padding: 20px;
}

.conclusion-title {
    text-align: center;
}



@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@supports (display: grid) {
    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 10px;
    }

    .project-list__item {
        background-color: #add8e6;
        padding: 30px;
        width: auto;
        min-height: auto;
    }

    .project-list__item:last-child {
        grid-column: 3/3;
        grid-row: 1/3;
    }
}

@media all and (max-width: 500px) {
    .project-list {
        grid-template-columns: 1fr;
    } 
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 20px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
