* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5A5F;
    --secondary-color: #e0b354;
    --background-color: #087E8B;
    --dark-grey: #2b2b2b;
    --button-text: #fff;
    --header-font-weight: 700;

    --building-color1: #aa80ff;
    --building-color2: #66cc99;
    --building-color3: #cc6699;
    --building-color4: #538cc6;
    --window-color1: #bb99ff;
    --window-color2: #8cd9b3;
    --window-color3: #d98cb3;
    --window-color4: #8cb3d9;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: var(--header-font-weight);
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
    font-weight: var(--header-font-weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--header-font-weight);
}

p {
    color: #fff
}

a {
    color: var(--primary-color);
}

a:visited {
    color: #C1839F;
}

a:hover, a:focus {
    text-decoration: none;
}


a:active {
    color: #fff;
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #3C3C3C;
    color: var(--button-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

a.button {
    color: var(--button-text);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}

button a#project_link {
    text-decoration: none;
    color: #fff;
}

button a#resume_link {
    text-decoration: none;
    color: #fff;
}

.navigation-list__item--active {
    text-decoration: none;
}

.logo {
    font-family: courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.profile {
    max-width: 800px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro {
    margin: 0;
}

.name {
    font-size: 90px;
    margin: -20px 0px 0px 0px;
}

.name-last {
    color: #ffffff;
    margin-top: -50px;
}

.profile__portrait {
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
}


.page-header {
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid var(--primary-color);
    z-index: 1000;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.project-list__item {
    display: inline-block;
    width: 33%;
    border-radius: 10px;
    border: 3px solid #FF5A5F;
   }

.project-list__item h2,
.project-list__item p {
    color: #3C3C3C;
}

.project-list__item a {
    display: block;
    margin-top: 10px;
}

.app-picture {
    width: 250px;
    height: auto;
}

.skills {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.about {
    text-align: center;
    margin-bottom: 300px;
}

.about-text {
    padding: 0px 40px 20px 40px;
}

#contact-main {
    display: flex;
    flex-direction: column;
}

#contact-header {
    text-align: center;
    border-bottom: 2px solid darkgray;
    padding: 10px;
}

#contact-header > h1 {
    font-size: 60px;
    margin: 0px 0px -10px 0px
}

#contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-form > * {
    padding: 10px;
    width: 60%;
}


.contact-container {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px auto;
    gap: 20px;
}

.contact-submit {
    border-radius: 10px;
    background-color: var(--primary-color);
}

.input {
    border-radius: 10px;
}

.standard-label {
    color: white;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.info-grid h2 {
    border-bottom: 2px solid darkgray;
}

.info-grid__item {
    align-self: center;
    justify-self: center;
}

.info-grid__item p{
    color:#ff5a5f;
    margin:0;
}


.standard-label {
    display: block;
}

.cs-header {
    text-align: center;
    margin-top: 60px;
}

#meet_homepage_img {
    height: auto;
    width: 400px;
}

.intro {
    display: flex;
}

.intro-content {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 20px;
}

.intro-img {
    padding: 20px;
}

.approach-title {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.oAuth-serverless {
    display: flex;
}

#oAuth_img {
    height: auto;
    width: 500px;
    padding: 20px;
}

.oAuth-serverless-content {
    padding: 20px;
}

.testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testing-title {
    text-align: center;
    padding: 10px;
}

.testing-img {
    height: auto;
    width: 800px;
    padding: 10px;
}

.testing-content {
    color: white;
    width: 90%;
}

.test-li {
    color: rgba(241, 241, 241, 0.61);
}

.test-types li {
    padding: 10px;
}

.pwa-data-img {
    display: flex;
    padding: 20px;
    margin-top: 30px;
}

.pwa-data-container {
    padding: 20px;
}

.data-viz-img {
    height: auto;
    width: 500px;
}

.pwa-content {
    width: 90%;
}

.conclusion {
    margin: 40px;
    padding: 20px;
}

.conclusion-title {
    text-align: center;
}


/* index animations */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0)
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0)
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
  }


  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0)
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0)
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
  }

/* Skyline Image */

.skyline-img {
}

.background-buildings, .foreground-buildings {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    overflow: hidden;
  }
  
  .building-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .window-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .sky {
    background: radial-gradient(
        closest-corner circle at 15% 15%,
        #ffcf33,
        #ffcf33 20%,
        #ffff66 21%,
        #bbeeff 100%
      );
  }
  
  /* BACKGROUND BUILDINGS - "bb" stands for "background building" */
  .bb1 {
    width: 10%;
    height: 70%;
  }
  
  .bb1a {
    width: 70%;
  }
    
  .bb1b {
    width: 80%;
  }
    
  .bb1c {
    width: 90%;
  }
  
  .bb1d {
    width: 100%;
    height: 70%;
    background: linear-gradient(
        var(--building-color1) 50%,
        var(--window-color1)
      );
  }
  
  .bb1-window {
    height: 10%;
    background: linear-gradient(
        var(--building-color1),
        var(--window-color1)
      );
  }
  
  .bb2 {
    width: 10%;
    height: 50%;
  }
  
  .bb2a {
    border-bottom: 5vh solid var(--building-color2);
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
  }
  
  .bb2b {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        var(--building-color2),
        var(--building-color2) 6%,
        var(--window-color2) 6%,
        var(--window-color2) 9%
      );
  }
  
  .bb3 {
    width: 10%;
    height: 55%;
    background: repeating-linear-gradient(
        90deg,
        var(--building-color3),
        var(--building-color3),
        var(--window-color3) 15%
      );
  }
  
  .bb4 {
    width: 11%;
    height: 58%;
  }
  
  .bb4a {
    width: 3%;
    height: 10%;
    background-color: var(--building-color4);
  }
  
  .bb4b {
    width: 80%;
    height: 5%;
    background-color: var(--building-color4);
  }
    
  .bb4c {
    width: 100%;
    height: 85%;
    background-color: var(--building-color4);
  }
  
  .bb4-window {
    width: 18%;
    height: 90%;
    background-color: var(--window-color4);
  }
  
  /* FOREGROUND BUILDINGS - "fb" stands for "foreground building" */
  .fb1 {
    width: 10%;
    height: 60%;
  }
  
  .fb1a {
    border-bottom: 7vh solid var(--building-color4);
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
  }
  
  .fb1b {
    width: 60%;
    height: 10%;
    background-color: var(--building-color4);
  }
    
  .fb1c {
    width: 100%;
    height: 80%;
    background: repeating-linear-gradient(
        90deg,
        var(--building-color4),
        var(--building-color4) 10%,
        transparent 10%,
        transparent 15%
      ),
      repeating-linear-gradient(
        var(--building-color4),
        var(--building-color4) 10%,
        var(--window-color4) 10%,
        var(--window-color4) 90%
      );
  }
  
  .fb2 {
    width: 10%;
    height: 40%;
  }
  
  .fb2a {
    width: 100%;
    border-bottom: 10vh solid var(--building-color3);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
  }
  
  .fb2b {
    width: 100%;
    height: 75%;
    background-color: var(--building-color3);
  }
  
  .fb2-window {
    width: 22%;
    height: 100%;
    background-color: var(--window-color3);
  }
  
  .fb3 {
    width: 10%;
    height: 35%;
  }
    
  .fb3a {
    width: 80%;
    height: 15%;
    background-color: var(--building-color1);
  }
    
  .fb3b {
    width: 100%;
    height: 35%;
    background-color: var(--building-color1);
  }
  
  .fb3-window {
    width: 25%;
    height: 80%;
    background-color: var(--window-color1);
  }
  
  .fb4 {
    width: 8%;
    height: 45%;
    position: relative;
    left: 10%;
  }
  
  .fb4a {
    border-top: 5vh solid transparent;
    border-left: 8vw solid var(--building-color1);
  }
  
  .fb4b {
    width: 100%;
    height: 89%;
    background-color: var(--building-color1);
    display: flex;
    flex-wrap: wrap;
  }
  
  .fb4-window {
    width: 30%;
    height: 10%;
    border-radius: 50%;
    background-color: var(--window-color1);
    margin: 10%;
  }
  
  .fb5 {
    width: 10%;
    height: 33%;
    position: relative;
    right: 10%;
    background: repeating-linear-gradient(
        var(--building-color2),
        var(--building-color2) 5%,
        transparent 5%,
        transparent 10%
      ),
      repeating-linear-gradient(
        90deg,
        var(--building-color2),
        var(--building-color2) 12%,
        var(--window-color2) 12%,
        var(--window-color2) 44%
      );
  }
  
  .fb6 {
    width: 9%;
    height: 38%;
    background: repeating-linear-gradient(
        90deg,
        var(--building-color3),
        var(--building-color3) 10%,
        transparent 10%,
        transparent 30%
      ),
      repeating-linear-gradient(
        var(--building-color3),
        var(--building-color3) 10%,
        var(--window-color3) 10%,
        var(--window-color3) 30%
      );
  }